html
head
	title Fallback control
body
	h2 Fallback control
	table
		tr
			th Fail Utterance
			th Scenario & Block
		tr
			form#falludt(action='/fallupdate?utt='+failutt method='post')
				td
					input(type="text" form="falludt" name="utt" value=failutt disabled)
				td
					select(form='falludt' name='inte')
						each key in opt_key
							optgroup(label=key)
								each row in rec_tab
									if row[0] == key
										option(value=key+"_"+row[1])= row[1]
					input(type='submit' form='falludt' value='등록')
	a(href="/learn") 처음으로