doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet" href="/css/reset.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrap
			div.wrap-header
				div._title
					h1
						img(src="/images/logo.png")
			div.wrap-left
				div.sub(data-mcs-theme="minimal-dark")
					ul.sub-list
						each menu in menuList
							if nowPage[0] == menu[0]
								li.active
									a(href="javascript:void(0);")= menu[0]
									ul.show(style="display: block;")
										each sub in menu[1]
											li
												a(href='/mode?domain=' + menu[0] + '&subdomian=' + sub)= sub
							li
								a(href="javascript:void(0);")= menu[0]
								ul
									each sub in menu[1]
										li
											a(href='/mode?domain=' + menu[0] + '&subdomain=' + sub)= sub
			div.wrap-right
				div.gnb
					a.on(href="/mode?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Input
					a(href="/response?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Response
					a(href="/rule?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Rule
				div._contents
					div.box
						form(action='/input?domain=' + nowPage[0] + '&subdomain=' + nowPage[1] method='post' id='insertform')
							div.user-input
								label(for="la01") User Input
								input#la01(type="text" name="newUserInput")
								button(type="submit" class="button blue" value="la01" form="insertform")
									i.icon-plus 
								button(type="submit" class="button gray" value="la01" form="deleteform")
									i.icon-trash 
						form(action='/delete?domain=' + nowPage[0] + '&subdomain=' + nowPage[1] method='post' id='deleteform')
							div.user-list
								if uttList
									ul
										each utt in uttList
											li
												input(type="checkbox" name="checked_utt" value=utt)
												label= utt
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/func.js")