html
head
	title Learning
body
	h1 Learning
	div
		include includes/tagtable.pug
	div
		h2 Morpheme analyzer test
		form(action='/analyze' method='POST')
			text Sentence:
			input(type="text" name="sent" value="동해 물과 백두산이 마르고 닳도록")
			input(type="submit" value="분석")
		br
		text 결과:
		text= tagged
