doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet" href="/css/reset.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrap
			div.wrap-header
				div._title
					h1
						img(src="/images/logo.png")
			div.wrap-left
				div.sub(data-mcs-theme="minimal-dark")
					ul.sub-list
						each menu in menuList
							li
								a(href="javascript:void(0);")= menu[0]
								ul.show(style="display: none;")
									each sub in menu[1]
										li
											a(href='/rule?domain=' + menu[0] + '&subdomain=' + sub)= sub
			div.wrap-right
				div.gnb
					a(href="/mode?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Input
					a(href="/response?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Response
					a.on(href="/rule?domain=" + nowPage[0] + "&subdomain=" + nowPage[1]) Manage Rule
				form(action='/updaterule?domain=' + nowPage[0] + '&subdomain=' + nowPage[1] method='post' id='updateruleform')
					div._contents
						h2 Manage Rule
						button(type="submit" class="button gray2 float-right")
							i.icon-modify
						div.box
							div(class="basic-table type02")
								table
									thead
										tr
											th(scope="col") Morphs
									tbody
										tr
											td
												textarea(name="newmorph", id="newmorph")= morph
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/func.js")