h2 Tag table
	table
		tr
			th Category
			th TAG
			th Description
		tr
			th(rowspan="5") 체언
			td NNG
			td 일반 명사
		tr
			td NNP
			td 고유 명사
		tr
			td NNB
			td 의존 명사
		tr
			td NR
			td 수사
		tr
			td NP
			td 대명사
		tr
			th(rowspan="5") 용언
			td VV
			td 동사 
		tr
			td VA
			td 형용사
		tr
			td VX
			td 보조 용언
		tr
			td VCP
			td 긍정 지정사
		tr
			td VCN
			td 부정 지정사
		tr
			th 관형사
			td MM
			td 관형사
		tr
			th(rowspan="2") 부사
			td MAG
			td 일반 부사
		tr
			td MAJ
			td 접속 부사
		tr
			th 감탄사
			td IC
			td 감탄사
		tr
			th(rowspan="9") 조사
			td JKS
			td 주격 조사
		tr
			td JKC
			td 보격 조사
		tr
			td JKG
			td 관형격 조사
		tr
			td JKO
			td 목적격 조사
		tr
			td JKB
			td 부사격 조사
		tr
			td JKV
			td 호격 조사
		tr
			td JKQ
			td 인용격 조사
		tr
			td JX
			td 보조사
		tr
			td JC
			td 접속 조사
		tr
			th 선어말 어미
			td EP
			td 선어말 어미
		tr
			th(rowspan="4") 어말 어미
			td EF
			td 종결 어미
		tr
			td EC
			td 연결 어미
		tr
			td ETN
			td 명사형 전성 어미
		tr
			td ETM
			td 관형형 전성 어미
		tr
			th 접두사
			td XPN
			td 체언 접두사
		tr
			th(rowspan="3") 접미사
			td XSN
			td 명사 파생 접미사
		tr
			td XSV
			td 동사 파생 접미사
		tr
			td XSA
			td 형용사 파생 접미사
		tr
			th 어근
			td XR
			td 어근
		tr
			th(rowspan="6") 부호
			td SF
			td 마침표, 물음표, 느낌표
		tr
			td SP
			td 쉼표, 가운뎃점, 콜론, 빗금
		tr
			td SS
			td 따옴표, 괄호표, 줄표
		tr
			td SE
			td 줄임표
		tr
			td SO
			td 붙임표 (물결, 숨김, 빠짐)
		tr
			td SW
			td 기타기호 (논리수학기호, 화폐기호)
		tr
			th(rowspan="3") 분석 불능
			td NF
			td 명사추정범주
		tr
			td NV
			td 용언추정범주
		tr
			td NA
			td 분석불능범주
		tr
			th(rowspan="3") 한글 이외
			td SL
			td 외국어
		tr
			td SH
			td 한자
		tr
			td SN
			td 숫자