@charset "UTF-8";

html,body{
	height:100%;
}
body {
	font-family: 'Raleway', sans-serif;

}

*{
	box-sizing:border-box;
}

#wrap{
	position: relative;
    height: 100%;
    width: 100%;	
}

#wrap.main{
	display:block;
	padding-top:50px;
	height:100% ;
}
._inner{
	width:1000px;
	margin:0 auto;
}


.hidden, caption {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.clearfix:after{
	content:"";
	display:table;
	width:100%;
	clear:both;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
#wrap.main ._title{
	height:50px;
	background-color:#1f2a71;

	
}
#wrap.main ._title h1{
	color: #fff;
	line-height:50px;
	font-size:24px;
	font-weight:normal;
}

#wrap .wrap-header{
	position:absolute;
	width:100%;

	padding-left:27px;
	height:100px;
	border-bottom:1px solid #c4c4c4;
	background-image: -webkit-linear-gradient(left, #70d7e0, #4c4dcd);
	background-image: -o-linear-gradient(left, #70d7e0, #4c4dcd);
	background-image: linear-gradient(to right, #70d7e0, #4c4dcd);
}
#wrap .wrap-header h1:after{content:"";display:inline-block;width:0;height:100px;vertical-align:middle;}
#wrap .wrap-header h1 img{vertical-align:middle;}
#wrap .wrap-header h1 span{vertical-align:middle;}

#wrap .wrap-left{
	float:left;
	height:100%;
	padding-top:100px;
	width:250px;
	background-color:#0f153c;

}
#wrap .wrap-left ._title{
	background-color:#1f2a71;
	height:100px;
	padding-left:140px;
	padding-top:65px;
	
}
#wrap .wrap-left ._title h1{
	color: #fff;
	font-weight:normal;
	font-size:24px;
}
#wrap .wrap-left .sub{
	padding-top:28px;
}

#wrap .wrap-left .sub a{
	text-decoration:none;
	font-weight:bold;	
	padding:12px 30px;
}

#wrap .wrap-left .sub>ul>li:first-child{
	margin-top:0;
}

#wrap .wrap-left .sub>ul>label{
	color:white;
}

#wrap .wrap-left .sub>ul>li>a{
	display:block;
	word-break:break-all ;
	color: #49c2f5;
	font-size:16px;
}
#wrap .wrap-left .sub>ul>li>ul{
	display:none;
	margin-bottom:43px;
	margin-left:18px;
}
#wrap .wrap-left .sub>ul>li>ul>li:first-child{
	margin-top:19px;
}
#wrap .wrap-left .sub>ul>li>ul>li{
	margin-top:16px;
}
#wrap .wrap-left .sub>ul>li>ul>li>a{
	font-size:14px;
	color:#01aeb0;
}
#wrap .wrap-left .sub>ul>li.active{
	background-color:#46ddd4;
}
#wrap .wrap-left .sub>ul>li.active a{
	color: #0f153c;
}
#wrap .wrap-right{
	margin-left:250px;
	padding-top:100px;
	height:100%;
	background-color:#f9f9f9;
	box-sizing: border-box;
}

#wrap .wrap-right .gnb{
	height:67px;
	border-bottom:1px solid #e8e8e8;
	padding:15px 0;
	padding-left: 46px;
	background-color:#fff;


}
#wrap .wrap-right .gnb a{
	min-width:165px;
	float:left;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	padding:0 20px;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #788d95;
	border-top:1px solid #788d95;
	border-right:1px solid #788d95;
	color:#344c73;
}

#wrap .wrap-right .gnb a:first-child{
	border-left:1px solid #788d95;
} 
#wrap .wrap-right .gnb a:before{
	content:"";
	display:inline-block;
	margin-right:8px;
	vertical-align:middle;
	
}
#wrap .wrap-right .gnb a:first-child:before{
	width:18px;
	height:18px;
	background:url(../images/icon-gnb01.png);
}	
#wrap .wrap-right .gnb a:first-child+a{

}
#wrap .wrap-right .gnb a:first-child+a:before{
	width:21px;
	height:20px;
	background:url(../images/icon-gnb02.png);
}
#wrap .wrap-right .gnb a:first-child+a+a{

}
#wrap .wrap-right .gnb a:first-child+a+a:before{
	width:18px;
	height:18px;
	background:url(../images/icon-gnb03.png);
}
#wrap .wrap-right .gnb a.on{
	color: #fff;
	    background-image: linear-gradient(to right, #4f53ce, #67b5db);
}

#wrap .wrap-right .gnb a:first-child.on:before{
	background: url(../images/icon-gnb01_a.png);
}
#wrap .wrap-right .gnb a:first-child+a.on:before{
	background: url(../images/icon-gnb02_a.png);
}
#wrap .wrap-right .gnb a:first-child+a+a.on:before{
	background: url(../images/icon-gnb03_a.png);
}
#wrap .wrap-right ._contents{
	padding:6px 46px 46px 46px;
}
._contents ._inner{
	background-color:#fff;
	border:1px solid #d6d6d6;
	border-radius:5px;
	height:626px;
	overflow:hidden;
	box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.19);
	-moz-box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.19);
　　-webkit-box-shadow: 2px 7px 12px -1px rgba(0,0,0,0.19);
}

._contents .box{
	width:100%;
	background-color:#fff;
	border:1px solid #e4e4e4;
	height:580px;
	overflow:hidden;
}

._contents .box .user-input{
	height:66px;
	padding:17px 0 0 17px;
	border-bottom:1px solid #e4e4e4;
}

._contents .box .user-input label{
	color: #666;
	font-weight:bold;
	font-size:14px;
	margin-right:9px;
}
._contents .box .user-input input[type="text"]{
	background-color:#fff;
	border:1px solid #ddd;
	height:32px;
	width:346px;
	margin-right:9px;
	margin-right:10px;

}
._contents .box .user-input .button{
	margin-right:3px;
	height:28px;
	width:28px;
	padding:0;
	vertical-align:middle;
}

.user-list li{
	border-bottom:1px solid #eee;
	height:45px;
	word-spacing: -4px;
}
.user-list li > *{
	vertical-align:middle;
}

.user-list li input[type="checkbox"]{
	margin:0 18px 0 21px;
}
.user-list li label{
	line-height:45px;
	font-size:14px;
	color: #666;
}
._contents h2{
	height:52px;
	line-height:52px;
	color: #595d9b;
	display:inline-block;
	/* font-weight:normal; */
}
.paging{
	margin-top:14px;
	text-align:center;
}
.paging a{
	text-decoration:none;
	vertical-align:middle;
	margin:0 6px;
	color: #ebebeb;
	font-size:14px;
	display:inline-block;
	height:16px;
	line-height:16px;
}
.paging a.on{
	color: #666;
}
i[class^="icon-"]{
	display:inline-block;
	vertical-align:middle;
}
.icon-modify{
	width:12px;
	height:12px;
	background:url(../images/icon-modify.png) no-repeat;
}
.icon-trash{
	width:16px;
	height:16px;
	background:url(../images/icon-trash.png) no-repeat;
}
.icon-plus{
	width:10px;
	height:10px;
	background:url(../images/icon-plus.png) no-repeat;
}
.icon-prev{
	width:16px;
	height:16px;
	background:url(../images/icon-prev.png) no-repeat;
}
.icon-next{
	width:16px;
	height:16px;
	background:url(../images/icon-next.png) no-repeat;
}
._contents .icon-monitor{
	display:inline-block;	
	width:18px;
	height:17px;
	margin-right:8px;
	background:url(../images/icon-monitor.png) no-repeat;
	vertical-align:middle;
}
.basic-table{
	width:100%;
	height:100%;

}
.basic-table table{
	table-layout:fixed;
	width:100%;
	height:100%;
}

.basic-table table thead th{
	background-color:#f5f5f5;
	border-left:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	color: #666;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	height:40px;
}

.basic-table table thead th:first-child{
	border-left:0;
}
.basic-table table tbody td{
	font-size:14px;
	border-left:1px solid #d6d6d6;
	font-family: 'Nanum Gothic', sans-serif;
}
.basic-table table tbody td:first-child{
	border-left:0;
}
.button{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height:28px;
	height:28px;
	border:0;
	background-color:transparent;
	padding:0 8px;
	border-radius:5px;
	color: #fff;
}
.button.blue{
	background-color:#667edd;
}
.button.mint{
	background-color:#00bdb6;
}
.button.gray{
	background-color:#e1e1e1;
	border:1px solid #bebebe;
}
.button.gray2{
	background-color:#a4a4a4;
	border:1px solid #979797;
} 
.button.navy{
	background-color:#0f153c;
}
.mt50{
	margin-top:50px;
}
.box ._top{
	padding:7px 8px;
	height:45px;
}
.text-right{
	text-align:right;
}

.basic-table.type02 thead th{
	height:35px;
	background-color:#fff;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
}
.basic-table.type02 tbody td{
	border-left:1px solid #eee;
	padding:15px;
}
.basic-table.type02 tbody td textarea{
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	color: #666;
	font-family: 'Nanum Gothic', sans-serif;
	font-size:14px;
	line-height:2;
}
.table-top{
	height:50px;
	display:table;
	width:100%;
}

.table-top div{
	display:table-cell;
	width:50%;
	vertical-align:middle;
	padding:0 15px;
}
.table-top div._right{
	text-align:right;
}

.button.gray2.float-right{
	margin-top:15px;
}